Button {
    margin: 1 3;
}

Input {
    margin: 1 2;
}

Label {
    margin: 0 0 0 2;
}

#right-side-label, #left-side-label{
    color: green;
    background: black;
}


.header {
    margin: 1 0 0 2;
}

#radio-rsa, #radio-gamal{
    margin: 0 2 1 2;
}

#about-program {
    background: #1e1e1e;
    color: #00ae98;
    text-align: center;
}
